<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta charset="UTF-8">
    <title>修改客房的价格</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <!--    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>-->
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>修改客房价格</h1>
    <form method="post" action="/hotelSystem/updateRoomPriceById">
        编号:<input type="text" name="id" th:value="${roomPrice.id}" readonly="readonly"/><br/>
        客房编号:<input type="text" name="rid" th:value="${roomPrice.rid}" readonly="readonly"/><br/>
        日期:<input type="text" name="id" th:value="${#dates.format(roomPrice.date,'yyyy-MM-dd')}" readonly="readonly" /><br/>
        价格:<input type="text" name="price" th:value="${roomPrice.price}"/><br/>
        类型:<input name="type" type="radio" th:checked="${roomPrice.type eq 0}" value="0"/>普通 <input name="type" type="radio" th:checked="${roomPrice.type eq 1}" value="1"/>特价<br/>
        已预约数量:<input type="text" name="number" th:value="${roomPrice.number}" /><br/>
        剩余数量:<input type="text" name="hasNumber"  th:value="${roomPrice.hasNumber}" /><br/>
        <button  type="submit">提交</button>
    </form>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>